body {
	/*background-color:#6a7277;*/
	background-color:black;
}

h1 {
	color:white;
	width:200px;
}

a {
	color:white;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

/* Header + Navbar Details */
.navbar {
	/*positioning/sizing details*/
	position:relative;
	top:-25px;
	width:100%;
	height:50px;
	
	background-color:#1c7ec5;
	font-family: 'Oswald', sans-serif;
}

.navbar ul {
	position:absolute;
	right:10px;
}

.navbar li {
	display:inline;
}

.navbar a {
	margin:10px;
}



.navbar h1 {
	position:relative;
	left:15px;
}


/* Social Media Bar details */
.social {
	/* Separates bar from flow, offsets from left. */
	position:absolute;
	left:20px;

}

/* Social Media Icon Styling */
.social ul {
	padding:0px;
	list-style-type: none;
}

.social li {
	margin-bottom:10px;
}

/* Content Styling */
.content {
	position:relative;
	left:100px;
	
	width:500px;
	
	font-family:Calibri, sans-serif;
	color:white;
}

/* Content Styling */
.content a {
	font-weight:bold;
}